:root{
    --primary:#ec5858;
    --secondry:#fd8c04;
    --tertiary:#93abd3;
    --quartenary:#edf285;
}
body{
    background-color:var(--tertiary);
    overflow-x: hidden !important;
}
.navbar{
    background-color: var(--primary) !important;
}
.section{
    width: 100vw;
    height: 100vh;;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.card{
    padding: 10px;
}